:root{
  --mainColor: #000000f2;
  --mainTransition: 1s all ;
}
body {
  background-color: var(--mainColor);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
h2 {
  font-weight: 300;
}
.toggle-div {
  background-color: white;
  width: fit-content;
}
.toggle-div img {
  width: 48px;
}
.toggle-div .toggle-icon {
  font-size: 25px;
}
.list-container {
  left: -220px;
  transition:var(--mainTransition);
  -moz-transition:var(--mainTransition);
  -ms-transition:var(--mainTransition);
  -o-transition:var(--mainTransition);
  -webkit-transition:var(--mainTransition);
  background-color: black;
  z-index: 99999;
}
.links-list {
  width: 220px;
}
.links-list ul {
  overflow: hidden;
}
.link-1 {
    transition: .5s all;
}
.link-2 {
    transition: .5s .1s all;

}
.link-3 {
    transition: .5s .2s all;
    -webkit-transition: .5s .2s all;
    -moz-transition: .5s .2s all;
    -ms-transition: .5s .2s all;
    -o-transition: .5s .2s all;
}
.link-4 {
    transition: .5s .3s all;
}
.link-5 {
    transition: .5s .4s all;

}
.link-1,
.link-2,
.link-3,
.link-4,
.link-5{
  transform: translateY(1000px);
}

.toggle-div i,
.links-list i{
  cursor: pointer;
}
.toggle-icon {
  color: black;
}
.links-list li  {
  color: #f9f6f6 !important ; 
  font-size: 16px;
  cursor: pointer;
}
.links-list li {
  margin-top: 25px;
}
.links-list a {
  color: rgb(63, 63, 63);
}
.links-list i{
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
}
.links-list i:hover {
  color: white;
}
input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1.5px solid rgba(255, 255, 255, .7) !important;
  color: white !important;
  caret-color: rgb(185, 183, 183);
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.search input::placeholder{
  text-align: center;
}
#data figcaption {
    background-color: rgba(255, 255, 255, 0.632);
    transform: translateY(110%);
    -webkit-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -o-transform: translateY(110%);
    transition: var(--mainTransition);
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #000;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
#data figcaption h2,h3 {
  font-weight: 300;
}
.figCard {
  height: 200px;
}
#data .figCard:hover figcaption{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.mealTitle{
  font-size: 40px;
  text-align: center;
}
.youtube {
  background-color: #F70000 !important;
  color: white;
  border: none !important;
}
.youtube:hover {
  opacity: .9;
}
.area {
  cursor: pointer;
}
.ing {
  height: 250px;
  cursor: pointer;
}
.fa-bowl-food {
  color: #9ee650ab;
}
form .form-control {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.484) ;
}
.valid {
  border-color: #28a745 !important;
}
.invalid {
  border-color: red !important;
}
.invalid-btn{
  background-color: transparent;
  opacity: .7;

}
.invalid-btn:hover{
  background-color: transparent;
}
.scroll {
  width: 30px;
  height: 30px;
  background-color: white;
  right: 30px;
  bottom: 30px;
  color: black ;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.loading {
  z-index: 9999999999999999;
  background-color: #000;
  display: flex;
}
.inner-loading {
  z-index: 2;
  background-color: #000;
  display: flex;
}
.share {
  z-index: 99999999999999999;
  display: flex;
} 

.share .link{
  background-color: rgb(119, 119, 119);
}
